ADMIN_USER=admin
ADMIN_PASSWORD=@tlavmf123
SESSION_SECRET=change-this-long-random-secret
SITE_URL=https://www.bbitsena.com
KAKAO_CLIENT_ID=6f186e38b24fd03f4f5c19aa25c322b7
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=https://www.bbitsena.com/auth/kakao/callback
NAVER_CLIENT_ID=8CxsvFyoKaNciZqPiVMO
NAVER_CLIENT_SECRET=FahQs6kmGc
NAVER_REDIRECT_URI=https://www.bbitsena.com/auth/naver/callback
GOOGLE_CLIENT_ID=116764795123288269050
GOOGLE_CLIENT_SECRET=ba1744c4e3bf7c8390de0f7f7c354111c6bb655f
GOOGLE_REDIRECT_URI=https://www.bbitsena.com/auth/google/callback
